body, html, #root {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #282c34;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

/* Navigation styles */
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  padding: 10px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

/* Nav buttons container */
.nav-buttons {
  display: flex;
  gap: 10px;
}

/* Nav buttons */
.nav-buttons button {
  background-color: #61dafb;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.nav-buttons button:hover {
  background-color: #21a1f1;
}

.nav-dropdown {
  display: none;
  font-size: 1rem;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #61dafb;
  color: #000;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.nav-dropdown:hover, 
.nav-dropdown:focus {
  background-color: #21a1f1;
  outline: none;
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
}

.scroll-container.snap-enabled {
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
  font-size: 3rem;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden !important;
}

.section1 {
  background-color: #0F1626;
  color: #FF533D;
  text-align: left;
  font-size: 10rem;
}

.section2 {
  background-color: #ff6f61;
}

.section3 {
  background-color: #4caf50;
}

.section4 {
  background-color: #2196f3;
}

/* Logo styling */
.App-logo {
  height: 30vmin;
  pointer-events: none;
  margin-top: 20px;
}

/* Responsive styles */

/* Medium devices and smaller (tablet) */
@media (max-width: 768px) {
  /* Hide buttons, show dropdown */
  .nav-buttons {
    display: none;
  }

  .nav-dropdown {
    display: inline-block;
  }

  .section {
    font-size: 2rem;
  }

  .nav-dropdown {
    width: 150px;
  }

  .App-logo {
    height: 40vmin;
  }

  .custom-cursor{
    display: none;
  }
}

/* Small devices (mobile phones) */
@media (max-width: 480px) {
  .section {
    font-size: 1.5rem;
  }

  .nav {
    justify-content: center;
  }

  .nav-dropdown {
    width: 80%;
  }

  .App-logo {
    height: 50vmin;
  }

  .custom-cursor{
    display: none;
  }
}
/* Add transition for the sliding text */
.section > div {
  transition: transform 0.7s ease, opacity 0.7s ease;
}

.slide-in {
  transform: translateX(0);
  opacity: 1;
}

.slide-out {
  transform: translateX(100%);
  opacity: 0;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: rgba(241, 251, 97, 0.5);
  border-radius: 50%;
  pointer-events: none;
  transform: translate3d(0, 0, 0);
  transition: background-color 0.3s ease, transform 0.1s ease;
  z-index: 9999;
  backdrop-filter: blur(2px);
  margin-left: -10px;
  margin-top: -10px;
}
